<!-- Hero -->
    <div class="hero" data-theme="dark">
        <div class="container hero-info">
            <hgroup>
                <h1 class="anim1">Featured Scent!</h1>
                <h1 class="anim1">Eucalyptus Tree</h1>
            </hgroup>
            <!-- Not sure if we need this yet -->
            <p class="anim1"><a href="#" role="button" onclick="event.preventDefault()">Click to view</a></p>
        </div>
    </div><!-- ./ Hero -->


<div class="flex-container"></div>
    {{#each product}}
    <div class="center">
            <article class="card">
            <h1 class="cardText">{{this.product_name}}</h1>
            <img src="/images/{{this.image}}" class="img" alt="">
            </article>
    </div>
    {{/each}}
</div>