<h1>Favorites List</h1>

{{#if user.products}}
    {{#each user.products}}
    <div class="center">
            <article class="card">
            <h1 class="cardText">{{product_name}}</h1>
            <img src="/images/{{image}}" class="img" alt="">
            </article>
    </div>
    {{/each}}
{{else}}
<h2>No favorites added.</h2>
{{/if}}
