<!-- Hero -->
<div class="hero first-after-nav-more" data-theme="dark">
    <div class="container hero-info">
        <hgroup>
            <h1 class="anim1 text-info-1">Experience our seasonal products - fun, themed, and designed to add joy to your daily routine.</h1>
            <h2 class="anim1 blurb text-info-2">We offer perfumes, colognes & scented candles</h2>
        </hgroup>
        <!-- Not sure if we need this yet -->
        {{!-- <p class="anim1"><a href="#" role="button" onclick="event.preventDefault()">Idk</a></p> --}}
    </div>
</div><!-- ./ Hero -->

<div>
    <article class="introduction">
        <hgroup>
            <h1>
                Who we are: 
            </h1>
            <h2 class="blurb">
                    We're an upcoming brand that is excited to showcase our range of high-quality products.
                At Scentimental, we are dedicated to creating innovative, premium products that cater to the needs of our customers.
                Our team is committed to providing excellent customer service and ensuring that each customer is satisfied with their future purchases.
                We're enthusiastic about sharing our products with you and look forward to hearing your feedback through our review system. 
                Your feedback helps us improve our products and better serve our customers.
            </h2>
        </hgroup>
    </article>
        
</div>

<!-- Main -->
<main class="container myborder">
    <div class="grid">
        {{!-- loads Winter --}}
            <article class="seasons" onclick="location.href='/category/winter'">
                    <img src="/images/front-end-imgs/winter-1.jpg" alt="winter cover" class="cover-img">
                    <h1 class="season-title">Winter</h1>
            </article>
        {{!-- loads Spring --}}
            <article class="seasons" onclick="location.href='/category/spring'">
                <img src="/images/front-end-imgs/spring-1.jpg" alt="spring cover" class="cover-img grid">
                <h1 class="season-title grid">Spring</h1>
            </article>
    </div>
    <div class="grid">
        {{!-- loads Summer --}}
            <article class="seasons" onclick="location.href='/category/summer'">
                <img src="/images/front-end-imgs/summer-1.jpg" alt="summer cover" class="cover-img">
                <h1 class="season-title">Summer</h1>
            </article>
            <article class="seasons" onclick="location.href='/category/fall'">
                <img src="/images/front-end-imgs/fall-1.jpg" alt="summer cover" class="cover-img">
                <h1 class="season-title">Fall</h1>
            </article>
    </div>
</main><!-- ./ Main -->