
{{#each review}}
<article>
    <ul>
        <li>{{this.review_description}}</li>
    </ul>
</article>
{{/each}}


{{!-- Form to post new review --}}
<div class="review card">
  <div class="card-header">
    <h2>Review This Product</h2>
  </div>
  <form id="new-review-form" class="card-body">
    <label class="rating-label" for="star-rating"></label>
    <input name="star-rating"
        data-role="rating"
        data-stars="5">
    <label class="form-label" for="review-body"></label>
    <textarea name="review-body" class="form-input" placeholder="Leave your review here."></textarea>

    <button type="submit" class="btn">Post Review</button>
  </form>
</div>

<script src="https://cdn.korzh.com/metroui/v4.5.1/js/metro.min.js"></script>
<script src="/js/newReview.js"></script>